# Build outputs
/build/
/target/
*.class
bin/

# Eclipse / IDE
.classpath
.project
.settings/

# Tomcat/Eclipse Servers
Servers/

# Nếu repo chứa project lồng trong folder Clothes-shop-website/
Clothes-shop-website/build/
Clothes-shop-website/target/
Clothes-shop-website/bin/
Clothes-shop-website/.classpath
Clothes-shop-website/.project
Clothes-shop-website/.settings/
